@import './decimals';

// container mixin
@mixin container($w: 320px, $mar: 0 auto, $pad: 0 20px) {
  @if $w {
    max-width: $w;

    @media screen and(min-width: 768px) {
      max-width: 768px;
      padding: 0 32px;
    }

    @media screen and(min-width: 1200px) {
      max-width: 1200px;
      padding: 0 16px;
    }
  }

  @if $mar {
    margin: $mar;
  }

  @if $pad {
    padding: $pad;
  }
}
