<section class="features">
  <div class="container">
    <h2 class="features__title">Features</h2>
    <p class="features__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi obcaecati ab
      saepe ea, natus vel odio autem eum nobis ad, libero, dolore eius quae!
      Iusto fuga culpa vitae unde consequatur, placeat dolor quae quod ad
      quaerat voluptates animi aspernatur nobis, minus reiciendis numquam
      corporis. Saepe optio dolorem magnam nostrum quas.#
    </p>
  </div>
</section>
