<header class="header" id="#header">
  <div class="container">
    <a class="logo" href="">Logo</a>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#header">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#products">Our products</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Contact</a>
        </li>
      </ul>
      <button class="mobile-menu-button" type="button">Menu</button>
      <button class="header__button" type="button">Buy now</button>
    </nav>
  </div>
</header>
