<section class="products" id="products">
  <div class="container">
    <ul class="products__list">
      <li class="products__item">
        <!-- <img class="products__picture" src="" alt="" /> -->
        <div class="products__content">
          <h3 class="products__subtitle"></h3>
          <p class="products__text"></p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
      <li class="products__item">
        <!-- <img class="products__picture" src="" alt="" /> -->
        <div class="products__content">
          <h3 class="products__subtitle"></h3>
          <p class="products__text"></p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
      <li class="products__item">
        <!-- <img class="products__picture" src="" alt="" /> -->
        <div class="products__content">
          <h3 class="products__subtitle"></h3>
          <p class="products__text"></p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
      <li class="products__item">
        <!-- <img class="products__picture" src="" alt="" /> -->
        <div class="products__content">
          <h3 class="products__subtitle"></h3>
          <p class="products__text"></p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
